<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <mat-icon class="tab-icon">directions</mat-icon>
      Rutas </mat-card-title>
    <mat-card-subtitle>Tiempo: {{Tiempo}} | Distancia: {{Distancia}} | Hora salida: {{HoraSalida}} | Hora llegada: {{HoraLlegada}} </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel *ngFor="let ruta of Rutas" [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ruta.Ruta}}: {{ruta.Desde}}->{{ruta.Hasta}} </mat-panel-title>
          <mat-panel-description>
            {{ ruta.TiempoStr }} - {{ ruta.DistanciaStr }}
          </mat-panel-description>
          
        </mat-expansion-panel-header>
        <table class="tabla-instruccion" style="width: 100%; border:1px solid #f3f3f3">
          <tbody style="background:#004998; color: #fff;" >
            <th>Instrucción</th>
            <th>Distancia</th>
            <th>Tiempo</th>
          </tbody>
          <tr *ngFor="let inst of ruta.Instrucciones">
            <td> {{inst.instruccion}} </td>
            <td> {{inst.distancia}} </td>
            <td> {{inst.tiempo}} </td>
          </tr>

        </table>
    
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions style="text-align: center;">
    <button mat-stroked-button (click)="onCancel()">Cerrar</button>
  </mat-card-actions>
</mat-card> 
