mat-toolbar
  background #004998 !important 
  background -moz-linear-gradient(45deg,  #004998 0%, #0084b5 50%, #5dbdd3 100%) !important
  background -webkit-linear-gradient(45deg,  #004998 0%,#0084b5 50%,#5dbdd3 100%) !important
  background linear-gradient(45deg,  #004998 0%,#0084b5 50%,#5dbdd3 100%) !important
  color #fff
  position: absolute
  z-index: 1000
  top: 0px

.container
  max-width: 800px
  margin 0 auto
  padding: 10px 
  justify-content: center;
  margin-top: 60px

.cel:hover{
  background: #F2F3F5;
  cursor pointer
}

.oculto
  display: none;

.subcelda
  display: block
  font-size: 12px
  color: rgba(96,93,92,.87)
  font-weight: 500
  font-family:Roboto, "Helvetica Neue", sans-serif;

.cliente_celda
  display:block; 
  color:rgb(31,26,23); 
  font-weight: 400;
  // text-shadow: 0px 0px 2px #c3c3c3;

.button_ac 
  background: #004998 !important
  width 100%
  color #Fff

th.mat-header-cell:first-of-type, 
td.mat-cell:first-of-type, 
td.mat-footer-cell:first-of-type
  padding-left: 5px !important

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type
  padding-right: 5px !important


@media screen and (max-width: 667px)
    .no_mobile
        display none
    .mobile
        display table-cell

@media screen and (min-width: 668px)
    .mobile
        display none
    .no_mobile
        display table-cell