.container
  background: #F2F3F5
  position: absolute;
  top: 0;
  bottom: 0;
  height 100%
  width 100%
  padding 0px


.footer
  position: absolute;
  bottom: 0px;
  left: 0px;
  // height: 50px;
  width: 100%;
  background #004998 
  background -moz-linear-gradient(45deg,  #004998 0%, #0084b5 50%, #5dbdd3 100%) 
  background -webkit-linear-gradient(45deg,  #004998 0%,#0084b5 50%,#5dbdd3 100%)
  background linear-gradient(45deg,  #004998 0%,#0084b5 50%,#5dbdd3 100%) 
  display flex
  flex-wrap: wrap 
  justify-content center
  color: #fff

.item
  font-size: 10px;
  line-height: 10px;
  
.subcontainer
  overflow: scroll
  height: -moz-calc(100% - (50px));
  height: -webkit-calc(100% - (50px));
  height: calc(100% - (50px));

  overflow-y: auto;
  padding-top: 0px;
