.login-fondo
  position: absolute;
  top: 0;
  bottom: 0;
  height 100%
  width 100%
  //background #003986 
  //background -moz-linear-gradient(45deg,  #003986 0%, #0057d2 50%, #003986 100%) 
  //background -webkit-linear-gradient(45deg,  #003986 0%,#0057d2 50%,#003986 100%)
  //background linear-gradient(45deg,  #003986 0%,#0057d2 50%,#003986 100%) 
 
  background #004998 
  background -moz-linear-gradient(45deg,  #004998 0%, #0084b5 50%, #5dbdd3 100%) 
  background -webkit-linear-gradient(45deg,  #004998 0%,#0084b5 50%,#5dbdd3 100%)
  background linear-gradient(45deg,  #004998 0%,#0084b5 50%,#5dbdd3 100%) 
  
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004998', endColorstr='#5dbdd3',GradientType=1 )
  padding 0px
  display flex
  flex-wrap: wrap 
  justify-content center
  // align-items center
  
mat-icon
  padding-right: 10px
button 
  background: #004998 !important
.logo
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px

  img
    width: 50%
    margin-bottom: 25px
:host
  display flex
  justify-content: center
  // margin: 100px 0

.mat-form-field
  width: 100%
  min-width: 280px

mat-card-title,
mat-card-content
  display: flex
  justify-content: center

button 
  width 100%

.pie
  position: absolute;
  left: 0px;
  bottom: 20px;
  width: 100%;

  a
    color:#fff
