mat-toolbar
  background #004998 !important 
  background -moz-linear-gradient(45deg,  #004998 0%, #0084b5 50%, #5dbdd3 100%) !important
  background -webkit-linear-gradient(45deg,  #004998 0%,#0084b5 50%,#5dbdd3 100%) !important
  background linear-gradient(45deg,  #004998 0%,#0084b5 50%,#5dbdd3 100%) !important
  color #fff

.oculto
  display: none;

.container
  max-width: 800px
  margin 0 auto
  padding: 10px 
  justify-content: center;

table {
  width: 100%;
}

.verde
  color green
  font-family: 'Roboto',Arial;
  font-size: 20.3pt;

.rojo
  color chocolate 
  font-family: 'Roboto',Arial;
  font-size: 20.3pt;

.ocultar
  display: none;

.no_mobile
  @media screen and (max-width:667px)
    display none

.mobile
  @media screen and (min-width:668px)
    display block

.SubTituloCh
  display: block;
  color: #A4A4A4;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  margin: 0px 

.SubTituloGr
  display: block;
  color: #696969;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-style: normal;
  font-weight: 400;

.mat-dialog-content
  overflow: hidden !important