mat-toolbar {
  background: #004998 !important;
  background: -moz-linear-gradient(45deg, #004998 0%, #0084b5 50%, #5dbdd3 100%) !important;
  background: -webkit-linear-gradient(45deg, #004998 0%, #0084b5 50%, #5dbdd3 100%) !important;
  background: linear-gradient(45deg, #004998 0%, #0084b5 50%, #5dbdd3 100%) !important;
  color: #fff;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
}
.cel:hover {
  background: #f2f3f5;
  cursor: pointer;
}
.oculto {
  display: none;
}
.subcelda {
  display: block;
  font-size: 12px;
  color: rgba(96,93,92,0.87);
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.cliente_celda {
  display: block;
  color: #1f1a17;
  font-weight: 400;
  text-shadow: 0px 0px 2px #c3c3c3;
}


.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: end;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}



.oculto {
  display: none;
}
.subcelda {
  display: block;
  font-size: 12px;
  color: rgba(96,93,92,0.87);
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.cliente_celda {
  display: block;
  color: #1f1a17;
  font-weight: 400;
  text-shadow: 0px 0px 2px #c3c3c3;
}

.SubTituloCh{
  display: block;
  color: #A4A4A4;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  margin: 0px 
}
.SubTituloGr{
  display: block;
  color: #696969;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 667px) {
  .no_mobile {
    display: none;
  }
  /* .mobile {
    display:table-cell;
  } */
}

@media screen and (min-width: 668px) {
  .mobile {
    display: none;
  }
  /* .mobile {
    display:table-cell;
  } */
}