mat-toolbar
  background #004998 !important 
  background -moz-linear-gradient(45deg,  #004998 0%, #0084b5 50%, #5dbdd3 100%) !important
  background -webkit-linear-gradient(45deg,  #004998 0%,#0084b5 50%,#5dbdd3 100%) !important
  background linear-gradient(45deg,  #004998 0%,#0084b5 50%,#5dbdd3 100%) !important
  color #fff

.container
  max-width: 800px
  margin 0 auto
  padding: 10px 
  justify-content: center;
  
.card
  max-width 800px
  margin auto

.tareas
  height: 60px;
  display: inline-block;
  width: 135px;
  margin: auto;
  vertical-align: middle;
  // line-height: 50px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px #c3c3c3;
  border: 1px solid #b3b3b3
  cursor: pointer;
  margin-left: 10px;
  margin-top: 15px
  //transition: color 0.3s linear 0.2s;


.tareas:hover
  background #004998 !important 
  background -moz-linear-gradient(45deg,  #004998 0%, #0084b5 50%, #5dbdd3 100%) !important
  background -webkit-linear-gradient(45deg,  #004998 0%,#0084b5 50%,#5dbdd3 100%) !important
  background linear-gradient(45deg,  #004998 0%,#0084b5 50%,#5dbdd3 100%) !important
  color #fff

// .tareas:not(:first-child)
  

.flecha {
  // float: left;
  position: relative;
  height: 8px;
  width: 10px;
  // border: solid 1px #ccc;
  // border-right: none;
  // background: #eee linear-gradient(white, #f1f1f1 37%, #e1e1e1 57%, #f6f6f6);
  background: black;
  display inline-block
  top: 8px
}

.flecha:after {
  position: absolute;
  top: -4px;
  right: -8px;
  width: 0px;
  height: 0px;
  border-left: 8px solid black;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  content: '';
}

.iconos
  padding-top: 5px;
  display block
  margin auto